body
	background-color #2c699c

.title
	color: #FFFFFF

.media-body
	border-bottom solid 1px #F3F3F3
	img
		margin-bottom 3px

.panel-body
	height 300px
	overflow-y auto
	overflow-x hidden

#users .active
	color #FF0000

.user
	cursor pointer
	padding 3px
	transition all 0.2s ease
	&:hover
		background-color #e6e6e6
		border-radius 5px
		transition all 0.2s ease

.smiley
	height 18px

.listsmiley
	padding 5px
	display none
	cursor pointer
	img
		transition all 0.3s linear
	img:hover
		opacity 0.8
		border-radius 50%
		transform rotate(45deg)
